@import "tailwindcss";
@plugin "daisyui";

.active {
  text-decoration: underline;
  background: linear-gradient(to right, #632ee3, #9f62f2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
